*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.form-box{
    display: flex;
}
input{
    margin-bottom: 10px;
    height: 20px;
    width: 10%;
}
.submit{
    width: 20%;
}
select{
    margin: 0 10px 10px 10px;
}